@font-face {
    font-family: ProductR;
    src: url("fonts/ProductSans-Regular.ttf");
}

@font-face {
    font-family: SquareR;
    src: url("fonts/nanumsquarer.ttf");
}

@font-face {
    font-family: RoundB;
    src: url("fonts/nanumsquareroundb.ttf");
}
*{
    text-align: center;
    font-family: SquareR;
}
.box {  
  border-radius: 24px;  
  box-shadow: 6px 6px 6px 6px #eeeeee;  
  padding: 24px;
  margin: 36px;
}
.text{
    font-size: 24px;
    color: gray;
    margin-bottom: 4px;
}
.button{
    color: #1abc9c;
    background-color: white;
    border: 0px
}